body.light {
  background-color: #f4f4f4;
  color: #222;
}

body.dark {
    background-color: #222;
    color: #f4f4f4;
}

body.light button {
  background-color: #333;
  color: #fff;
}

body.dark button {
  background-color: #ddd;
  color: #111;
}