body.light {
  background-color: #f4f4f4;
  color: #222;
}

body.dark {
    background-color: #222;
    color: #f4f4f4;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
}

body.light button {
  background-color: #333;
  color: #fff;
}

body.dark button {
  background-color: #ddd;
  color: #111;
}

section {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}